//Author : Ashutosh Nigam
//Date : 06/04/2018
@import "../../_variables.scss";
.card-col{
    padding: 15px;

    a:link {
        text-decoration: none;
    }

    img{
        width: 100%;
    }
}

.card-col .details {
    background: #ccc;
    padding-top: 20px;
    min-height: 100px;
    padding-left: 10%;
    padding-right: 10%;
    color: $color-vsba-black;
    text-decoration: none;
}

.card-col .details .title {
    font-weight: 700;
}

.card-col .details .description {
    margin-left: 1%;
}

.card-col img {
    width: 100%;
    height: 300px;
}

.SearchProject{
    padding: 20px;
    border: 2px solid #940909;
    float:left;
    input{
    width: 100%;
    height: 40px;
    background: $color-vsba-super-light-grey;
    border: none;
    padding: 12px;
    font-size: 18px;
    }
    ul.suggestionList{
        position: absolute;
        background-color: white;
        z-index: 100;
        list-style: none;
        width: 400px;
        li{
            width: 100%;
            padding: 6px;
        }
        li:hover {
            background-color: #ecebeb;
            cursor: pointer;
            
        }
    }

    .SearchSection input {
        width: 74%;
    }

    .SearchSection .btn.btn-success {
        color: #ffffff;
        background-color: #66060e;
        background-image: linear-gradient(to bottom, $color-vsba-red, #8c0712);
        border-color: $color-vsba-red $color-vsba-red #800a12;
        position: absolute;
        border-radius: 0;
        padding-bottom: 9px;
        padding-left: 25px;
    padding-right: 25px;
    height: 40px;
    }
    .SearchSection  .btn.btn-success:hover {
        color: #ffffff;
        background-color: #8c0712;
        background-image: linear-gradient(to bottom, #8c0712, #8c0712);
        border-color: $color-vsba-red $color-vsba-red #800a12;
    }
}

@media (max-width: 1024px) {
    .SearchProject{
        float: left !important;
        width: 94%;
        margin-left: 3%;
    }

    .SearchSection input {
        width: 85%;
        margin-left: -15px;
    }
}